/* .App {
  text-align: center;
  color: brown;
  font-family: "Times New Roman", Times, serif;
}

.mainPage {
  text-align: center;
  color: rgb(20, 233, 204);
  font-family: "Times New Roman", Times, serif;
  image-orientation: inherit;
  
}

.logo {
  margin: 10px;
  text-align: center;
  color: rgba(1, 255, 128, 0.74);
}

.Footer{
  margin: 10px;
  padding: 10px;
  background-color: rgb(81, 238, 159);
  color: rgb(7, 6, 6);
} */